{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}패션 SNS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
 <header class="top-bar">
        <a href="{% url 'posts:feed' %}" class="top-bar__brand">
            <img src="{% static 'images/momvision_logo_v1.png' %}" alt="mom vision" class="top-bar__logo">
            <span class="top-bar__title">mom vision</span>
        </a>

        <div class="top-bar__auth">
            {# 로그인 상태 링크/버튼들을 하나로 묶는 컨테이너 -> top-bar 입장에선 자식이 "로고, 이 div" 딱 2개가 됨 #}
            {% if user.is_authenticated %}
                <span>{{ user.username }}님</span>
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit">로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login_page' %}">로그인</a>
                <a href="{% url 'accounts:signup_page' %}">회원가입</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <nav class="bottom-nav">
        <a href="{% url 'posts:feed' %}">게시물</a>
        <a href="{% url 'analysis:home' %}">AI 분석</a>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    </nav>
    {% block extra_js %}{% endblock %}
</body>
</html>
